menu "Baseband Security Guard Configuration"

config SECURITY_BASEBAND_GUARD
       bool "Enable Baseband Guard (Anti-Format)" 
       default y
       depends on SECURITY
       help
          Made by QiuDaoYu, Anti Format Baseband
          If unsure, leave this y.

config SECURITY_BASEBAND_GUARD_ALLOW_IN_RECOVERY
       bool "Allow Baseband Access in Recovery Mode"
       depends on SECURITY_BASEBAND_GUARD
        default y
       help
          Allow BP In Recovery?
          If unsure, leave this y.

config SECURITY_BASEBAND_GUARD_BLOCK_WHOLEDISK
        bool "Block Whole-Disk Access for Baseband"
        default y

config SECURITY_BASEBAND_GUARD_VERBOSE
       bool "Log denials to dmesg"
       default y
endmenu
