menu "Baseband Security Guard Configuration"

config BBG
       bool "Enable Baseband Guard (Anti-Format)" 
       default y
       depends on SECURITY
       help
          An Android baseband anti-formatting protector 
          module by Github@showdo, preventing malicious
          scripts or programs writing into important
          function partitions.
          If unsure, leave this y.

config BBG_ALLOW_IN_RECOVERY
       bool "Turn off Baseband Protection in Recovery Mode"
       depends on BBG
       default y
       help
          Turn off protection in recovery mode, in
          order that repairing system partitions can
          be done in recovery mode.
          If unsure, leave this y.

config BBG_BLOCK_BOOT
       bool "Enable Baseband Protection for Boot Partition"
       depends on BBG
       default n
       help
          Enable protection for boot partition to
          prevent malicious scripts or programs
          destroying, however this may cause failure
          when flashing kernels in Android system
          (meaning that you'll only be able to flash
          kernels/boot partition image in recovery/
          fastboot mode).
          If unsure, leave this n.

config BBG_BLOCK_RECOVERY
       bool "Enable Baseband Protection for Recovery Partition"
       depends on BBG
       default n
       help
          Enable protection for recovery partition to
          prevent malicious scripts or programs
          destroying, however this may cause failure
          when flashing custom recs in Android system
          (meaning that you'll only be able to flash
          recovery partition image in fastbootd/
          bootloader mode).
          If unsure, leave this n.

config BBG_DOMAIN_PROTECTION
       bool "Interception for malicious Selinux domain switching"
       depends on BBG
       default y
       help
          Prevents malicious processes from switching selinux domain names
          without intercepting selinux state modifications.
          If unsure, leave this y.

config BBG_DOMAIN_PROTECTION_TRACE_ALL_SU
       bool "Trace all su process to block them bypass domain protection"
       depends on BBG_DOMAIN_PROTECTION
       default y
       help
          Trace the su process and all its related processes 
          to prevent them from bypassing domain protections, 
          but this may result in more memory usage
          If unsure, leave this y.

config BBG_DISABLE_SELINUX_PERMISSIVE
       bool "Disable system switch selinux state to permissive"
       depends on BBG
       default n
       help
          Deny all userspace processes disable SELinux.
          BBG doesn't need this right now.
          But we recommand DON'T turn selinux off, so we keep it here.
          If unsure, leave this n. 

endmenu
